{
  "parser": "@babel/eslint-parser",
  "extends": [
    "standard",
    "plugin:react/recommended",
    "prettier",
  ],
  "plugins": [
    "react",
    "prettier",
    "standard",
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
